* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  color: #717173;
}
h1 {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-size: 50px;
  color: #1f1f25;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1f1f25;
  line-height: 1.4;
}
a {
  text-decoration: none !important;
}
.txt__center {
  text-align: center;
}
.mgt-40 {
  margin-top: 40px;
}
.p__title {
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  display: inline-block;
}
.p__text {
  font-size: 18px;
  line-height: 30px;
}
.bg__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg__pd {
  padding-top: 120px;
  padding-bottom: 120px;
}
.mgb-20 {
  margin-bottom: 20px;
}
.seemorebtn .btn_bg {
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: #fd4766;
  border: 2px solid #fd4766;
}
.btn:hover .btn_bg {
  color: #fd4766;
  background: transparent;
}
.animated {
  animation-name: fadeInUp;
  animation: 800ms ease-in-out 0s normal none 1 running fadeInUp;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

/* header */

header {
  position: absolute;
  z-index: 1;
}
.navbar .navbar-brand .img-logo {
  max-height: 60px;
}
.navbar-nav .nav-item {
  margin: 0 15px;
}
.li_white.nav-item .a_white.nav-link {
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.li_white.nav-item:hover .a_white.nav-link {
  color: #fd4766 !important;
}

/* buynowbtn */

.btn_bg.buynow {
  background: transparent;
  border: 2px solid hsl(0deg 0% 100% / 20%);
}
.seemorebtn:hover .btn_bg.buynow {
  color: #ffffff;
  background: #fd4766;
}

/* Carousel */

.carousel__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel__wrap .carousel__img .img-fluid {
  width: 100%;
}
.carousel__wrap .carousel__title {
  padding-top: 80px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel__wrap .carousel__title h1 {
  color: #ffffff;
  font-size: 100px;
  font-weight: 900;
}
.carousel__wrap .carousel__title p {
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
  color: #ffffff;
}
.slick-dots {
  bottom: 60px;
}

.slick-dots li button:before {
  color: transparent !important;
  box-shadow: inset 0 0 0 5px #ffffff;
  border-radius: 50%;
  height: 6px;
  width: 6px;
}

.slick-dots li.slick-active button:before {
  color: rgba(255, 255, 255, 0.616) !important;
  border: solid 1px #fd4766;
  border-radius: 50%;
}
.slick-prev {
  left: 50px;
  z-index: 4;
}
.slick-next {
  right: 50px;
}
.slick-arrow.slick-next::before {
  content: url("../img/slick-arrow-right-small.png") !important;
}
.slick-arrow.slick-prev::before {
  content: url("../img/slick-arrow-left-small.png") !important;
}

button.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: 0.5s;
  opacity: 1;
  width: 68px;
  height: 68px;
  line-height: 79px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.slick-prev::before:hover,
.slick-next::before:hover {
  opacity: 1;
}
/* animetion button */
.slick-prev:hover,
.slick-next:hover {
  background-color: #fd4766;
  border: 2px solid #fd4766;
}
.slick-prev:hover.slick-arrow {
  animation-name: btnPrev;
}

.slick-next:hover.slick-arrow {
  animation-name: btnNext;
}
@keyframes btnNext {
  from {
    opacity: 1;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(10px);
  }
}

/* Service */
.service__title {
  text-align: center;
}
.service__title span {
  margin-bottom: 12px;
  /* font-size: 1.7rem; */
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  display: inline-block;
  font-weight: 700;
}

.service__title h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
}

.service__title p {
  /* font-size: 2rem; */
  /* margin-bottom: 7rem; */
  color: #717173;
}
.service__item {
  background-color: #f6f6f6;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  transform: translateY(8px);
  transition: all 0.7s;
  margin-top: 30px;
}

.service__item:hover {
  transform: translateY(0);
}
.service__item p {
  font-size: 18px;
  color: #717173;
}

.service__item i {
  position: absolute;
  top: 35px;
}

.service__item h3 {
  margin: 5rem 0px 21px 0px;
  font-weight: 600;
  font-size: 20px;
}

/* project */
.project__content {
  background-image: url("../img/bg-image-3.jpg");
  position: relative;
}
.item__wrapper .img__a a img {
  border-radius: 10px;
  transition: transform 1s ease, opacity 0.5s ease 0.25s;
  transition-property: transform, opacity;
  transition-duration: 1s, 0.5s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0.25s;
  display: block;
}
.project__item:hover .item__wrapper .img__a a img {
  transform: scale(1.1);
}
.project__item {
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.project__item.project::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0),
    rgba(15, 15, 15, 0.75) 100%
  );
  background-image: linear-gradient(
    rgba(15, 15, 15, 0),
    rgba(15, 15, 15, 0.75) 100%
  );
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
}
.project__item:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 55px rgb(253 71 102 / 22%);
}
.project__item .item__text .text__wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 30px 30px;
  z-index: 99;
  width: 100%;
  transform: translateX(-50%);
}
.text__title .text__mgb {
  margin-bottom: 10px;
}
.text__wrapper .text__title .text__mgb a {
  color: #ffffff;
  opacity: 0.7;
  display: inline-block;
  margin: 5px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.text__wrapper .text__title .text__mgb h4 a {
  font-size: 20px;
  font-weight: 600;
}
.item__text .text__wrapper .text__title {
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.project__item:hover .item__text .text__wrapper .text__title {
  transform: translateY(-62px);
}
.item__text .text__wrapper .text__hover {
  position: absolute;
  z-index: 11;
  opacity: 0;
  bottom: 35px;
  margin-top: 10px;
  line-height: 1.5em;
  transform: translateY(20px);
  max-width: 80%;
  transition: opacity 0.18s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
  height: 62px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ffffff;
}
.project__item:hover .item__text .text__wrapper .text__hover {
  opacity: 1;
}
.project__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fd4766 100%);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  transition-property: opacity;
  transition-duration: 0.65s;
  transition-timing-function: cubic-bezier(0.05, 0.2, 0.1, 1);
  transition-delay: 0s;
  cursor: pointer;
  opacity: 0;
}
.project__item:hover::after {
  opacity: 1;
}

/* about */

.thumbnail__wrapper .thumbnail img {
  border-radius: 10px;
}
.about__title h2 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 35px;
}
.tab-content .tab-pane h4 {
  font-size: 23px;
  font-weight: 700;
}
.tab-content .tab-pane ul li {
  color: #7e7e7e;
  font-size: 16px;
  line-height: inherit;
  margin-bottom: 15px;
  font-weight: 300;
  list-style: none;
}
.tab-content .tab-pane ul li i {
  color: #fd4766;
  font-size: 15px;
  margin-right: 12px;
}

.tab-content .tab-pane.container.fade p {
  font-weight: 400;
  color: #717173;
  font-size: 18px;
  line-height: 30px;
}

.nav.nav-pills {
  border: 1px solid #e6e6e6;
  border-radius: 50em;
  margin: 20px 0;
  display: flex;
}
.nav.nav-pills li a {
  font-weight: 600;
  font-size: 16px;
}

.nav.nav-pills .nav-item .nav-link {
  font-size: 15px;
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: 700;
}
.nav-item .nav-link.active {
  background-color: #fd4766 !important;
  color: white !important;
}

.nav-item .nav-link {
  color: rgb(86 86 91) !important;
}

/* People */

.pp_row.row {
  align-items: center;
}
.pp_bg {
  background: #f9f9f9;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(249, 249, 249);
}
.pp_tab_text.tab-pane .txt_1::before {
  content: "";
  position: absolute;
  width: 177px;
  height: 100%;
  left: -64px;
  top: -57px;
  background-image: url("../img/image-1.png");
  opacity: 1;
  background-repeat: no-repeat;
  z-index: -1;
}
.pp_tab .pp_tab_text.tab-pane .txt_1 {
  font-size: 25px;
  line-height: 48px;
  color: #18181b;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: -16px;
  position: relative;
  z-index: 2;
}
.pp_tab .pp_tab_text.tab-pane .txt_2 {
  font-size: 18px;
  line-height: 50px;
  color: #8c8c8c;
  font-weight: 300;
  margin-bottom: 0;
}
.pp_tab .pp_tab_text.tab-pane .txt_2 span {
  font-weight: 500;
  color: #fd4766;
}
.pp_nav.nav.nav-tabs {
  justify-content: center;
  max-width: 510px;
  margin: 0px auto;
  margin-bottom: -30px;
  outline: none;
  border: 0 none;
}
.pp_nav_item .pp_nav_link.nav-link .link_img {
  width: 100%;
  max-height: 140px;
  min-height: 140px;
  object-fit: cover;
}
.pp_nav .pp_nav_item.nav-item .pp_nav_link.active {
  transform: scale(1.1);
  object-fit: contain;
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
  border: none;
  border-color: none !important;
}
.pp_nav .pp_nav_item.nav-item {
  padding-left: 15px;
  padding-right: 15px;
  flex-basis: 33.33%;
  margin-bottom: 30px;
  outline: none;
  cursor: pointer;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: none !important;
}
.pp_nav_item.nav-item .pp_nav_link.nav-link {
  padding: 0 !important;
}
/* Latest News */
.hidden__button.btn {
  background-color: transparent;
  border: 2px solid hsl(0deg 0% 100% / 20%);
}
.hidden__button.btn a {
  color: #ffffff;
}

.text__hover:hover .hidden__button {
  background-color: #fd4766;
  border: 2px solid #fd4766;
}

/* Clients */

.section-title {
  margin-bottom: 40px;
}

.bg_color {
  background-color: #f9f9f9;
}

.clients .clients__logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients__logo.clients__logo .clients__logo__img {
  list-style: none;
  background-color: white;
  flex-basis: 33.33%;
  text-align: center;
  height: 200px;
  line-height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.3s;
}

.clients__logo.clients__logo .clients__logo__img:hover {
  transform: scale(1.1);
  border-radius: 6px;
  background-color: #fd4766;
}

.clients__logo.clients__logo .clients__logo__img img {
  opacity: 0.8;
  transition: 0.3s;
  max-height: 110px;
  max-width: 150px;
}

/* footer */

.footer_pd {
  padding: 70px 0;
}
.footer_bg {
  background-color: #010001;
}

.footer_upper_left_h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
}
.footer_upper_right .footer_button {
  text-align: right;
}
.footer_upper.footer_pd .row.footer_upper_row {
  align-items: center;
}
.footer_button .seemorebtn .btn_bg {
  padding: 26px 60px;
}
.footer_upper.footer_pd {
  position: relative;
}
.footer_upper.footer_pd::after {
  content: "";
  position: absolute;
  background-color: hsl(0deg 0% 100% / 20%);
  max-width: 1230px;
  height: 1px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
}
/* downward footer */

.footer_logo_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.footer_logo_wrapper .footer_logo_text p {
  color: #757575;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
}
.footer_logo_wrapper .footer_logo_text a {
  color: #757575;
}
.footer_logo_wrapper .footer_logo {
  margin-bottom: 30px;
}
.footer_logo_wrapper .footer_logo .footer_logo_a img {
  max-height: 60px;
  max-width: 100%;
}
.footer_link .footer_link_wrapper .footer_link_h2 {
  font-weight: 500;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 20px;
}

.footer_link .footer_link_wrapper ul.footer_link_ul {
  padding: 0;
  margin: 0;
}
.footer_link_wrapper .footer_link_ul .footer_link_li .footer_link_a {
  color: #757575 !important;
  font-size: 16px;
  padding: 5px 0;
  width: fit-content;
}
.footer_link_wrapper .footer_link_ul .footer_link_li .footer_link_a:hover {
  color: #fd4766 !important;
}
.footer_link_wrapper .footer_link_ul .footer_link_li {
  margin-top: 6px;
}
.footer_link_wrapper .footer_link_ul .li_inline.footer_link_li {
  display: flex;
  align-items: center;
}
.li_inline.footer_link_li .footer_link_a {
  margin-left: 3px;
}
a.a_after.ahover {
  position: relative;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.a_after.ahover:hover {
  color: #fd4766 !important;
}
a.a_after.ahover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a.a_after.ahover:hover::after {
  width: 100%;
}
.footer_link_wrapper .social_medialink {
  margin-top: 20px;
  margin-bottom: 15px;
}

/* social_links */
.social_medialink .social_con .social_ul.nav {
  margin-left: -30px;
}

.social_ul .social_li .social_a .social_i {
  font-size: 16px;
  color: rgb(198 201 216 / 75%);
  text-align: left;
  transform: translateY(0);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.social_ul .social_li:hover .social_a .social_i {
  transform: translateY(-5px);
  color: #ffffff;
}
/* backtotop */

.backtotop {
  background-color: transparent;
  width: 45px;
  height: 45px;
  line-height: 45px;
  display: block;
  text-align: center;
  border-radius: 50%;
  color: red;
  border: solid 1px red;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  visibility: 1;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}
