* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px; /*1rem*/
  
}
.mgt-40 {
  margin-top: 40px;
}
/* header */

#header {
  position: absolute;
  z-index: 1;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  right: 0;
  margin-top: 3rem;
}
.navbar-brand img {
  width: 60%;
  transform: translateX(-355%);
}

.navbar-nav {
  justify-content: space-between;
}

.collapse.navbar-collapse .navbar-nav .nav-item:hover a {
  color: #fd4766 !important;
}

.navbar-nav .nav-item {
  margin: 0 1rem;
}

.collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 1.5rem;
  color: white !important;
  transition: all 0.5s;
}

.header__link {
  margin: 1rem 3rem 1.7rem 1rem;
  /* display: flex; */
}

.header__link a {
  font-size: 1.5rem;
  border: 2px solid hsl(0deg 0% 100% / 20%);
  color: white !important;
  padding: 2rem 4.5rem;
  border-radius: 4rem;
  padding-bottom: rem;
  transition: all 0.5s;
  text-transform: uppercase;
  font-weight: 600;
  /* display: inline; */
}

.header__link:hover a {
  color: white;
  background-color: #fd4766;
  text-decoration: none;
  border: 2px solid #fd4766;
}

/* .button__header span {
  font-size: 1.5rem;
  font-weight: 500;
  display: inline;
} */

/* carousel */

.carousel-item {
  height: 70rem;
  background-position: center;
  background-size: cover;
}

.carousel-item:nth-child(1) {
  background-image: url("../images/bg-image-22.jpg");
}

.carousel-item:nth-child(2) {
  background-image: url("../images/bg-image-23.jpg");
}

.carousel-item:nth-child(3) {
  background-image: url("../images/bg-image-24.jpg");
}

.carousel-item:nth-child(4) {
  background-image: url("../images/bg-image-20.jpg");
}

.carousel-caption {
  transform: translateY(-50%);
  top: 50%;
}

.carousel-caption h3 {
  font-size: 10rem;
  font-weight: 900;
  color: white;
  /* display: inline; */
}

.carousel-caption p {
  font-size: 2.6rem;
  margin: 2rem 0 6.5rem 0;
  /* display: inline; */
}

.carousel-caption a {
  font-size: 1.5rem;
  color: white !important;
  padding: 2rem 5.4rem;
  border-radius: 4rem;
  transition: all 0.7s;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fd4766;
  border: 2px solid #fd4766;
  font-weight: 500;
  /* display: inline; */
}

.carousel-caption a:hover {
  font-size: 1.5rem;
  border: 2px solid #fd4766;
  color: #fd4766 !important;
  padding: 2rem 5.4rem;
  border-radius: 4rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(253 71 102 / 0%);
}

/* service */

.service__title {
  text-align: center;
}

.service__content {
  margin: 13rem 0;
}
.service__title span {
  font-size: 1.7rem;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  display: inline-block;
  font-weight: 700;
}

.service__title h2 {
  font-size: 5rem;
  font-weight: 700;
  padding: 1.3rem 0;
}

.service__title p {
  font-size: 2rem;
  margin-bottom: 7rem;
  color: #717173;
}

.service__blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.service__item {
  background-color: #f6f6f6;
  padding: 3.5rem 20px;
  border-radius: 10px;
  position: relative;
  transform: translateY(8px);
  transition: all 0.7s;
}

.service__item:hover {
  transform: translateY(0);
}
.service__item p {
  font-size: 2rem;
  color: #717173;
}

.service__item i {
  position: absolute;
  top: 35px;
}

.service__item h3 {
  margin: 5rem 0px 21px 0px;
}

/* project */

.project__content {
  position: relative;
  background-image: url(../images/bg-image-3.jpg);
}
.bg__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg__pd {
  padding-top: 120px;
  padding-bottom: 120px;
}
.item__wrapper .img__a a img {
  border-radius: 10px;
  transition: transform 1s ease, opacity 0.5s ease 0.25s;
  transition-property: transform, opacity;
  transition-duration: 1s, 0.5s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0.25s;
  display: block;
}
.project__item:hover .item__wrapper .img__a a img {
  transform: scale(1.1);
}
.project__item {
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.content__title{
 text-align: center;
 /* margin-top:130px ; */
}

.content__title span{
  font-size: 1.7rem;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  display: inline-block;
  font-weight: 700;
}

.content__title h2{
  font-size: 54px;
  margin: 10px 0;
}

.content__title p{
  font-size: 20px;
  color: #717173;
}
.project__item.project::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0),
    rgba(15, 15, 15, 0.75) 100%
  );
  background-image: linear-gradient(
    rgba(15, 15, 15, 0),
    rgba(15, 15, 15, 0.75) 100%
  );
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
}
.project__item:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 55px rgb(253 71 102 / 22%);
}
.project__item .item__text .text__wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 30px 30px;
  z-index: 99;
  width: 100%;
  transform: translateX(-50%);
}
.text__title .text__mgb {
  margin-bottom: 10px;
}
.text__wrapper .text__title .text__mgb a {
  color: #ffffff;
  opacity: 0.7;
  display: inline-block;
  margin: 5px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-decoration: none;
}
.text__wrapper .text__title .text__mgb h4 a {
  font-size: 30px;
  font-weight: 600;
}
.item__text .text__wrapper .text__title {
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.project__item:hover .item__text .text__wrapper .text__title {
  transform: translateY(-62px);
}
/* .text__hover p{
  font-size: 20px;
} */
.item__text .text__wrapper .text__hover {
  position: absolute;
  z-index: 11;
  opacity: 0;
  bottom: 35px;
  margin-top: 10px;
  line-height: 1.5em;
  transform: translateY(20px);
  max-width: 80%;
  transition: opacity 0.18s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
  height: 62px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ffffff;
}
.project__item:hover .item__text .text__wrapper .text__hover {
  opacity: 1;
}
.project__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fd4766 100%);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  transition-property: opacity;
  transition-duration: 0.65s;
  transition-timing-function: cubic-bezier(0.05, 0.2, 0.1, 1);
  transition-delay: 0s;
  cursor: pointer;
  opacity: 0;
}
.project__item:hover::after {
  opacity: 1;
}

.project__button a{
  font-size: 15px;
  color: white !important;
  padding: 15px 50px;
  border-radius: 40px;
  transition: all 0.7s;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fd4766;
  border: 2px solid #fd4766;
  font-weight: 500;
  /* position: absolute; */
  /* right: 588px; */
  /* bottom: 20px; */
}

.project__button:hover a{
  font-size: 15px;
  border: 2px solid #fd4766;
  color: #fd4766 !important;
  padding: 15px 50px;
  border-radius: 40px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(253 71 102 / 0%);
}

/* about */

#about{
  margin: 130px 0;
}
.about__container .row.row--35 {
  display: flex;
}

.thumbnail__wrapper .thumbnail img {
  border-radius: 10px;
}
.about__title span {
  font-size: 17px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  display: inline-block;
  font-weight: 700;
}

.about__title {
  /* margin-left: 190px; */
}

.about__title h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 3rem 0;
}

.about__title p {
  font-size: 20px;
  color: #717173;
}

.tab-content .tab-pane h4 {
  font-size: 23px;
  font-weight: 700;
}
.tab-content .tab-pane ul {
  /* margin: 10px 0; */
}
.tab-content .tab-pane ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 18px;
  color: #717173;
}
.tab-content .tab-pane ul li i {
  color: #fd4766;
  font-size: 15px;
  margin-right: 12px;
}

.tab-content .tab-pane.container.fade p {
  font-weight: 400;
  color: #717173;
  font-size: 18px;
  line-height: 30px;
}

.nav.nav-pills {
  border: 1px solid #e6e6e6;
  border-radius: 50em;
  margin: 20px 0;
}
.nav.nav-pills li a {
  /* border: 2px solid gray; */
  font-weight: 700;
}

.nav.nav-pills .nav-item .nav-link {
  font-size: 15px;
  border-radius: 30px;
  padding: 10px 40px;
}
.nav-item .nav-link.active {
  background-color: #fd4766 !important;
  color: white !important;
}

.nav-link {
  color: #2d2d2d !important;
}
